<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MariaDBContext" connectionString="Offline=False;User=root;Password=root;Database=Junta;Server=myServer;Port=3306;" providerName="System.Data.CData.MariaDB" />-->
    <add name="MariaDBConnection" connectionString="server=localhost;port=3306;uid=root;pwd=root;database=junta" providerName="Pomelo.EntityFrameworkCore.MySql" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <!--
      <provider invariantName="System.Data.CData.MariaDB" type="System.Data.CData.MariaDB.MariaDBProviderServices, System.Data.CData.MariaDB.Entities.EF6" />
      -->
    </providers>
  </entityFramework>
</configuration>